page-search {

    .tabs-md.tabbar {
        background-color:#004858;
    }
    .toolbar-background {
        background-color:#004858;
    }
    .toolbar-title{
        color: white;
    }
    .bar-button{
        color: white;
    }
    .ion-icon {
        font-size:55px !important;
    }
    .background{
		width:100%;
		height:100%;
		background: linear-gradient(10deg,#4EE7FC,#004858)
	}
	.scroll-content{
		text-align: center;
	}
	ion-card.card{
		background: rgba(232, 230,230, 0.5px);
		border-radius: 10px;
	}
	.item{
		background: rgba(232, 230,230, 0px);

	}
	h1{
		color: #fff;
		font-size: 3em;
		font-weight: lighter;
	}
	.button-block-md{
		border-radius: 10px;
		
	}
}
