<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="exit()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="background">

  <div>
    <img src="assets/img/screenplay.png" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>
    <ion-item no-line>
      <h2>Merchant: {{merch.merchantaddress}}</h2>
      <h2>{{merch.merchantmail}}</h2>
      <h2>Your Merchant ID: {{merchid}}</h2>
    </ion-item>


  <ion-item color="none" id="home-list-item20">
    Most Recent Transactions:
  </ion-item>
  <ion-list>
    <span *ngIf="transactions === undefined"> There are no transactions available</span>

    <ion-spinner *ngIf="transactions != undefined && transactions.length == 0"> </ion-spinner>
    <ion-card *ngFor="let option of transactions">

      <ion-item>
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            Referencenumber = {{option.ref}}
          </p>
          <p>
            Value = $ {{addPoint(option.value)}}
          </p>
        </div>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>